// base
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #2a3744;
    background: #fefefe;
    text-rendering: optimizeLegibility;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    h1, h2, h3, h4, h5, p {
        margin: 0;
    }
    h1 {
        line-height: 2.6;
        font-size: 22px;
    }
    h2 {
        line-height: 2.4;
        font-size: 20px;
    }
    h3 {
        line-height: 2.2;
        font-size: 18px;
    }
    h4 {
        line-height: 2;
        font-size: 16px;
    }
}
.dt-container {
    width: 100%;
}
// grid
.dt-box {
    display: flex;
    .dt-item-grid (1);
    h1, h2, h3, h4, h5, p {
        padding: 0 2%;
    }
    ul {
        padding: 2%;
    }
}
.dt-item-grid (@index) when (@index <= 12) {
    .dt-item-grid (@index + 1);
    .dt-item-@{index} {
        width: percentage(@index / 12);
    }
}
// layout
.dt-head {
    background: #2a3744;
    color: #fefefe;
    height: 50px;
    line-height: 50px;
    .dt-title {
        font-size: 22px;
        line-height: 50px;
    }
    .dt-nav {
        display: flex;
        .dt-nav-item {
            font-size: 16px;
            padding: 0 20px;
        }
    }
}
// components
.dt-button {
    border: 1px solid;
    padding: 5px 15px;
    display: inline-block;
    margin: 2%;
    a {
        display: block;
    }
}
.dt-form {
    font-size: 14px;
    .dt-form-line {
        display: flex;
        padding: 8px 0;
        .dt-form-label {
            padding-right: 5px;
            width: 10%;
            text-align: right;
        }
        .dt-form-input {
            width: 90%;
            input {
                border: 1px solid;
                padding: 5px;
            }
            select {
                border: 1px solid;
            }
            .dt-button {
                margin: 0;
            }
        }
    }
}