@dark-color: #003d51;
@light-color: #f5f5f5;
@unique-color: #ffae00;
// base
body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: @dark-color;
    background: @light-color;
    text-rendering: optimizeLegibility;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    h1, h2, h3, h4, h5, p {
        margin: 0;
    }
    h1 {
        line-height: 2.6;
        font-size: 22px;
    }
    h2 {
        line-height: 2.4;
        font-size: 20px;
    }
    h3 {
        line-height: 2.2;
        font-size: 18px;
    }
    h4 {
        line-height: 2;
        font-size: 16px;
    }
    table, thead, tbody, tr, th, td {
        border: none;
        border-collapse: collapse;
        border-spacing: 0;
        border-color: inherit;
    }
}
.dt-container {
    width: 100%;
}
// grid
.dt-box {
    display: flex;
    .dt-item-grid-function (1);
    h1, h2, h3, h4, h5, p {
        padding: 0 2%;
    }
    ul {
        padding: 2%;
    }
}
.dt-item-grid-function (@index) when (@index <= 12) {
    .dt-item-grid-function (@index + 1);
    .dt-item-@{index} {
        width: percentage(@index / 12);
    }
}
// useful
.dt-center {
    text-align: center;
}
.dt-colorful {
    color: @unique-color;
}
.dt-dark {
    color: @dark-color;
}
.dt-light {
    color: @light-color;
}
// layout
.dt-head {
    background: @dark-color;
    color: @light-color;
    height: 50px;
    line-height: 50px;
    .dt-title {
        font-size: 22px;
        line-height: 50px;
    }
    .dt-nav {
        display: flex;
        .dt-nav-item {
            font-size: 16px;
            padding: 0 20px;
        }
    }
}
// title
.dt-title {
    border-bottom: 2px solid @dark-color;
}
.dt-title-colorful {
    border-bottom: 2px solid @unique-color;
}

// link
.dt-link-function (@color1, @color2) {
    display: inline;
    cursor: pointer;
    color: @color1;
    border-bottom: 1px solid @color1;
    transition: color .5s, border .5s;
    &:hover {
        color: @color2;
        border-bottom: 1px solid @color2;
    }
}
.dt-link {
    .dt-link-function (@dark-color, @dark-color);
}
.dt-link-dark {
    .dt-link-function (@light-color, @light-color);
}
.dt-link-colorful {
    .dt-link-function (@dark-color, @unique-color);
}
.dt-link-colorful-reverse {
    .dt-link-function (@unique-color, @dark-color);
}
// list
.dt-list,
.dt-list-1 {
    li {
        border-left: 1px solid @dark-color;
        padding-left: 5%;
        margin: 1% 0;
    }
}
.dt-list-2 {
    li {
        border-left: 1px solid @unique-color;
        padding-left: 5%;
        margin: 1% 0;
    }
}
.dt-list-3 {
    li {
        border-bottom: 1px solid @dark-color;
        padding-left: 5%;
        margin: 1% 0;
    }
}
.dt-list-4 {
    li {
        border-bottom: 1px solid @unique-color;
        padding-left: 5%;
        margin: 1% 0;
    }
}
// button
.dt-button-function (@color1, @color2) {
    border: 1px solid @color1;
    color: @color1;
    background: @color2;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px;
    margin: 2%;
    transition: background .2s, color .5s, border 1s;
    a {
        display: block;
    }
    &:hover {
        border: 1px solid @color2;
        color: @color2;
        background: @color1;
    }
    &.dt-button-simple {
        border: 1px solid @color2;
        border-bottom: 1px solid @color1;
        &:hover {
            border: 1px solid @color2;
            border-bottom: 1px solid @color1;
            color: @color1;
            background: @color2;
        }
    }
}
.dt-button {
    .dt-button-function (@dark-color, @light-color);
}
.dt-button-dark {
    .dt-button-function (@light-color, @dark-color);
}
.dt-button-colorful,
.dt-button-colorful-1 {
    .dt-button-function (@unique-color, @light-color);
}
.dt-button-colorful-2 {
    .dt-button-function (@light-color, @unique-color);
}
.dt-button-colorful-3 {
    .dt-button-function (@unique-color, @dark-color);
    color: @light-color;
    border: 1px solid @light-color;
    &:hover {
        border: 1px solid @unique-color;
        color: @light-color;
    }
}
.dt-button-big {
    padding: 15px 20px;
    font-size: 20px;
}
.dt-button-small {
    padding: 3px 10px;
    font-size: 12px;
}
// boarder
.dt-boarder-function (@color1, @color2) {
    display: inline-block;
    color: @color1;
    background: @color2;
    border: 1px solid @color1;
    padding: 2%;
    margin: 2% 0;
}
.dt-boarder {
    .dt-boarder-function (@dark-color, @light-color);
}
.dt-boarder-dark {
    .dt-boarder-function (@light-color, @dark-color);
}
.dt-boarder-colorful,
.dt-boarder-colorful-1 {
    .dt-boarder-function (@unique-color, @dark-color);
}
.dt-boarder-colorful-2 {
    .dt-boarder-function (@unique-color, @light-color);
}
.dt-boarder-colorful-3 {
    .dt-boarder-function (@light-color, @unique-color);
}
.dt-boarder-colorful-4 {
    .dt-boarder-function (@unique-color, @dark-color);
}
// form
.dt-form {
    font-size: 14px;
    .dt-form-line {
        display: flex;
        padding: 5px 0;
        height: 30px;
        line-height: 30px;
        .dt-form-label {
            padding-right: 5px;
            width: 10%;
            text-align: right;
            height: 30px;
            line-height: 30px;
        }
        .dt-form-input {
            width: 90%;
            .dt-button {
                margin: 0;
            }
        }
    }
}
.dt-input-function (@color1, @color2) {
    border: none;
    border-bottom: 1px solid @color1;
    background: @color2;
    color: @color1;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
    &:focus{
        outline: none;
    }
}
.dt-select {
    .dt-input-function (@dark-color, @light-color);
    padding: 0 15px;
    cursor: pointer;
}
.dt-input {
    .dt-input-function (@dark-color, @light-color);
}
.dt-input-dark {
    .dt-input-function (@light-color, @dark-color);
}
.dt-input-colorful {
    .dt-input-function (@unique-color, @light-color);
}
// table
.dt-table-function (@color1, @color2) {
    width: 100%;
    margin: 5% 0;
    border: 1px solid @dark-color;
    th {
        color:  @color2;
        background: @color1;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    td {
        color: @color1;
        background:  @color2;
        font-size: 14px;
        font-weight: normal;
        border-bottom: 1px solid @color1;
        text-align: center;
    }
}
.dt-table {
    .dt-table-function (@dark-color, @light-color);
}
.dt-table-dark {
    .dt-table-function (@light-color, @dark-color);
}
.dt-table-colorful {
    .dt-table-function (@unique-color, @light-color);
}